name: hello-world
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run linter
      run: |        
        pip install poetry
        poetry run flake8 brain_games 
