name: hello-world
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Run linter
        run: |
        
                pip install poetry
                poetry run flake8 brain_games 
